table.table, .table th, .table td {
    border: 1px solid black;
    padding: 5px;
  }
table.table{
  min-width: 350px;
  border-collapse: collapse;
  border-radius: 10px;
  border-style: hidden;
  box-shadow: 0 0 0 1px #666; 
  }
.table th{
  text-align: left;
}
p.inline{
    display: inline-block;
}
.center{
    text-align: center;
}
div.center-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.background-hobbies li{
    margin: 25px;
    padding: 0px;
}
ol{
    border-radius: 25px;
}
.left{
    text-align: left;
}
.hobbies{
    margin-top: 60px;
}
.background-hobbies{
    background-color: #04AA6D;
}
.nav a:hover{
    color: #04AA6D;
}
a.button {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
  width: 100px;
}

a.button:hover {
  background-color: #228B22;
  color: black;
}
.button {
  background-color: #04AA6D;
  color: white;
}
/*  MENU  */
ul.ul-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #04AA6D;
  width:fit-content;
  display: flex;
  
}

div.menu{
display: flex;
  justify-content: flex-end;
  }
  ul.ul-menu li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.ul-menu li a:hover {
  background-color: #228B22;
  color: black;
}